@import "tailwindcss";

@theme {
  --color-gunmetal: #2e3532;
  --color-amaranth: #8b2635;
  --color-linen: #e0e2db;
  --color-dustgrey: #d2d4c8;
  --color-teagreen: #d3efbd;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}